
<div class="dashboard-container">
  <h1>Admin Dashboard</h1>

  <div class="summary">
    <div class="card">
      <h2><i class="fas fa-chalkboard-teacher"></i> Total Formations</h2>
      <p class="total">{{ totalFormations }}</p>
    </div>

    <div class="card">
      <h2><i class="fas fa-file-signature"></i> Total Inscriptions</h2>
      <p class="totalI">{{ totalInscriptions }}</p>
    </div>

    <div class="card">
      <h2><i class="fas fa-users"></i> Total Participants</h2>
      <p class="totalP">{{ totalParticipants }}</p>
    </div>
  </div>

  <div class="charts">
    <div class="chart-container">
      <canvas
        baseChart
        [data]="barChartData"
        [type]="barChartType">
      </canvas>
    </div>
  </div>
</div>