<div class="formations-table-container">
  <h1>Liste des Formations</h1>

  <table class="formations-table">
    <thead>
      <tr>
        <th>Thème</th>
        <th>Mode de Formation</th>
        <th>Num Salle</th>
        <th>Période</th>
        <th>Horaire</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formation of formations">
        <td>{{ formation.theme }}</td>
        <td>{{ formation.modeFormation }}</td>
        <td>{{ formation.numSalle }}</td>
        <td>
          Du {{ formation.periodeDu  }} au {{ formation.periodeA  }}
        </td>
        <td>
          De {{ formation.horaireDu }} à {{ formation.horaireA }}</td>
        <td>
          <button (click)="inscrire(formation)">S'inscrire</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
