.admin-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.content {
  flex: 1;
  min-width: 0;
  padding: 16px;
  overflow: auto;
}

.admin-icon {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 15px;
}

.admin-icon i {
  color: rgba(0, 0, 0, 0.459);
}

.link {
  color: #333;
  text-decoration: none;
  margin-bottom: 14px;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.active-link {
  color: #007bff; 
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #f1f1f1;
}

.logout {
  background-color: #4F46E5;
  width: 150px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.logout i {
  margin-right: 8px;
}

.logout:hover {
  background-color: #4338CA;
  transform: scale(1.01);
}