<div class="admin-layout">
  <div class="sidebar">
    <div class="admin-icon">
      <i class="fas fa-user-shield fa-3x"></i>

    </div>
    <a routerLink="admin-dashboard" routerLinkActive="active-link" class="link">
      📊 Dashboard</a>
    <a routerLink="liste-formations" routerLinkActive="active-link" class="link">
      🔄 Cycle Formation</a>
    <a routerLink="liste-participant" routerLinkActive="active-link" class="link">
      👤 Liste des Participants</a>
    <a routerLink="liste-inscrits" routerLinkActive="active-link" class="link">
      <i class="fas fa-users"></i> Liste des Inscrits</a>
    <a routerLink="users-growth" routerLinkActive="active-link" class="link">
      📈 Users Growth</a>
    <a routerLink="mon-profile-admin" routerLinkActive="active-link" class="link">
      🛠️ Settings</a>
      <button class="logout" (click)="logout()"> <i class="fas fa-sign-out-alt"></i>Logout</button>
  </div>  
    <router-outlet></router-outlet>
</div>
