<div class="div">
    <h1>Mon Profil</h1>
    <p><strong>Nom et Prénom: </strong> {{ admin.fullname }}</p>
    <p><strong>Email: </strong> {{ admin.email }}</p>
  
    <h2>Changer le mot de passe</h2>
    <form (ngSubmit)="updatePassword()">
      <label>
        <strong>Mot de passe actuel: </strong>
        <input
          type="password"
          [(ngModel)]="actualPassword"
          name="actualPassword"
          required/>
      </label>
  
      <label>
        <strong>Nouveau mot de passe: </strong>
        <input
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required/>
      </label>
      
      <label>
        <strong>Confirmer le nouveau mot de passe: </strong>
        <input
          type="password"
          [(ngModel)]="confirmNewPassword"
          name="confirmNewPassword"
          required/>
      </label>
  
      <p *ngIf="errormsg" class="message error">{{ errormsg }}</p>
      <p *ngIf="successmsg" class="message success">{{ successmsg }}</p>
  
      <button type="submit">Mettre à jour le mot de passe</button>
    </form>
  </div>
  