<mat-card class="login-card">

  <h2 class="title">{{ 'LOGIN.TITLE' | translate }}</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'LOGIN.EMAIL' | translate }}</mat-label>

      <input
        matInput
        type="email"
        formControlName="email"
      />

      <mat-error *ngIf="email?.hasError('required')">
        {{ 'LOGIN.ERRORS.EMAIL_REQUIRED' | translate }}
      </mat-error>

      <mat-error *ngIf="email?.hasError('pattern')">
        {{ 'LOGIN.ERRORS.EMAIL_INVALID' | translate }}
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>

      <input
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="password"
      />

      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
      >
        <mat-icon>
          {{ isPasswordVisible ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>

      <mat-error *ngIf="password?.hasError('required')">
        {{ 'LOGIN.ERRORS.PASSWORD_REQUIRED' | translate }}
      </mat-error>

      <mat-error *ngIf="password?.hasError('minlength')">
        {{ 'LOGIN.ERRORS.PASSWORD_MIN' | translate }}
      </mat-error>

    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="login-btn"
      [disabled]="loginForm.invalid"
      type="submit">
      {{ 'LOGIN.LOGIN' | translate }}
    </button>

    <div class="divider">
      <span>{{ 'LOGIN.OR' | translate }}</span>
    </div>

    <button
      mat-stroked-button
      class="register-btn"
      type="button"
      routerLink="/register">
      {{ 'LOGIN.CREATE_ACCOUNT' | translate }}
    </button>

  </form>

</mat-card>