<div class="container">
  <h1 class="mt-4">Modifier la Formation</h1>

  <form [formGroup]="formationForm" (ngSubmit)="onSubmit()" class="mt-5">
    <div class="form-group">
      <label for="theme">Thème</label>
      <input
        type="text"
        class="form-control"
        id="theme"
        formControlName="theme"
        required/>
    </div>

    <div class="form-group mt-3">
      <label for="numSalle">N° Salle</label>
      <input
        type="number"
        class="form-control"
        id="numSalle"
        formControlName="numSalle"
        required/>
    </div>

    <div class="form-group mt-3">
      <label for="modeFormation">Mode de Formation</label>
      <input
        type="text"
        class="form-control"
        id="modeFormation"
        formControlName="modeFormation"
        required/>
    </div>

    <div class="row mt-3">
      <div class="col">
        <label for="periodeDu">Période Du</label>
        <input
          type="text" 
          class="form-control"
          id="periodeDu"
          formControlName="periodeDu"
          required/>
      </div>
      <div class="col">
        <label for="periodeA">Période À</label>
        <input
          type="text"
          class="form-control"
          id="periodeA"
          formControlName="periodeA"
          required/>
      </div>
    </div>

    <div class="row mt-3" >
      <div class="col">
        <label for="horaireDu">Horaire Du </label>
        <input 
          type="time"
          class="form-control"
          id="horaireDu"
          formControlName="horaireDu"
          required />
      </div>
      <div class="col">
        <label for="horaireA">Horaire À</label>
        <input
          type="time"
          class="form-control"
          id="horaireA"
          formControlName="horaireA"
          required/>
      </div>
    </div>

    <button type="button" class="btn btn-secondary mt-4" (click)="annuler()">
      Annuler
    </button>

    <button
      type="submit"
      class="btn btn-primary mt-4"
      [disabled]="formationForm.invalid">
      Modifier
    </button>
   
  </form>
</div>
