<div *ngIf="participant">
  <h1>Mon Profil</h1>

 <img
         
          *ngIf="participant.image"
          class="participant-image"
          [src]="environment.apiUrl + '/uploads/participants/' + participant.image"
          alt="Participant">

  <p><strong>Nom complet:</strong> {{ participant.fullName }}</p>
  <p><strong>Âge:</strong> {{ participant.age }}</p>
  <p><strong>Genre:</strong> {{ participant.gender }}</p>
  <p><strong>Email:</strong> {{ participant.email }}</p>
  <p><strong>Profil:</strong> {{ participant.role }}</p>
</div>


