<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-graduation-cap"></i>
      <span class="brand-name">Learni<span class="brand-accent">Fy</span></span>
    </a>

    <button class="navbar-toggler" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>

    <ul class="navbar-nav" [class.open]="menuOpen">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" (click)="toggleMenu()">
          {{ 'NAVBAR.HOME' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" (click)="toggleMenu()">
           {{ 'NAVBAR.ABOUT' | translate }}</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/privacy" (click)="toggleMenu()">
           {{ 'NAVBAR.PRIVACY' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" (click)="toggleMenu()">
          {{ 'NAVBAR.CONTACT' | translate }}</a>
      </li>

      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/participant-interface/mon-profile-participant" routerLinkActive="active-link" (click)="toggleMenu()">
            {{ 'NAVBAR.MY_PROFILE' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/participant-interface/formations-disponibles" routerLinkActive="active-link" (click)="toggleMenu()">
            {{ 'NAVBAR.AVAILABLE_TRAININGS' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/participant-interface/mes-formations" routerLinkActive="active-link" (click)="toggleMenu()">
            {{ 'NAVBAR.REGISTRATIONS' | translate }}</a>
        </li>
      </ng-container>

<div class="language-switcher">

  <button class="language-btn" (click)="showLanguages = !showLanguages">

    <img
      [src]="currentLanguage === 'fr'
        ? 'assets/images/fr.png'
        : 'assets/images/en.png'">

    <span>{{ currentLanguage.toUpperCase() }}</span>

    <i class="fas fa-chevron-down"></i>

  </button>

  <div class="language-menu" *ngIf="showLanguages">

    <button
      *ngIf="currentLanguage !== 'fr'"
      (click)="changeLanguage('fr'); showLanguages=false">

      <img src="assets/images/fr.png">
      Français

    </button>

    <button
      *ngIf="currentLanguage !== 'en'"
      (click)="changeLanguage('en'); showLanguages=false">

      <img src="assets/images/en.png">
      English

    </button>

  </div>

</div>

      <li class="nav-item mobile-login">
        <button *ngIf="!isLoggedIn" (click)="navigateToLogin()" class="btn-connexion">
          <i class="fas fa-sign-in-alt"></i> {{ 'NAVBAR.GET_STARTED' | translate }}</button>
        <button *ngIf="isLoggedIn" (click)="logout()" class="btn-connexion">
          <i class="fas fa-sign-out-alt"></i> {{ 'NAVBAR.LOGOUT' | translate }}</button>
      </li>

    </ul>
  </div>
</nav>