<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <main>
      <h1>Bienvenue dans le Système de Gestion des Formations</h1>
      <p>
        Gérez facilement l'inscription et le suivi des participants aux
        formations.
      </p>
      <a routerLink="/about" class="button">À Propos</a>
    </main>
  </body>
</html>
