<div class="participant-layout">
  
  <div class="sidebar">
    <div class="participant-icon">
      <i class="fas fa-users fa-3x"></i>

        </div>
          <a routerLink="mon-profile-participant" routerLinkActive="active-link" class="link">
            <i class="fas fa-profile"></i> Mon Profile</a>

            <a routerLink="formations-presensiel" routerLinkActive="active-link" class="link"><i class="fas fa-building">
            </i> Formations en présentielle</a>

            <a routerLink="formations-enligne" routerLinkActive="active-link" class="link"><i class="fas fa-laptop">
            </i> Formations en ligne</a>

          <a routerLink="mes-formations" routerLinkActive="active-link" class="link">
            <i class="fas fa-chalkboard-teacher"></i> Mes formations</a>

            <button class="logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </div>


    <router-outlet></router-outlet>
</div>

