<!-- <div class="add-inscription-container">
  <h1>Ajouter une Inscription</h1>

  <form (ngSubmit)="addInscription()" #inscriptionForm="ngForm">
    <div class="form-group">
      <label for="fullname">Nom Complet:</label>
      <input type="text" id="fullname" [(ngModel)]="inscriptionData.fullname" name="fullname" class="form-control" required>

      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="inscriptionData.email" name="email" class="form-control" required>

      <label for="numero">Numéro:</label>
      <input type="number" id="numero" [(ngModel)]="inscriptionData.numero" name="numero" class="form-control" required>

      <label for="entreprise">Entreprise:</label>
      <input type="text" id="entreprise" [(ngModel)]="inscriptionData.entreprise" name="entreprise" class="form-control" required>

      <label for="direction">Direction:</label>
      <input type="text" id="direction" [(ngModel)]="inscriptionData.direction" name="direction" class="form-control" required>

      <label for="theme">Thème de la formation:</label>
      <input type="text" id="theme" [(ngModel)]="inscriptionData.theme" name="theme" class="form-control" required>

      <button type="submit" class="btn btn-primary mt-3">Ajouter Inscription</button>
    </div>
  </form>
</div> -->
