<div class="form-container">
  <h2>Registration</h2>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
    <div class="form-group">
      <label for="fullname">Fullname:</label>
      <input
        type="text"
        id="fullname"
        name="fullname"
        #fullnameInput="ngModel"
        [(ngModel)]="fullName"
        ngModel
        required
        (input)="clearError()"
        placeholder="Enter your full name"/>
      <div
        *ngIf="fullnameInput.touched && fullnameInput.invalid"
        class="alert alert-danger">
        Fullname is required.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        #emailInput="ngModel"
        ngModel
        required
        minlength="8"
        [(ngModel)]="Email"
        (input)="clearError()"
        placeholder="Enter your email"/>
      <div
        *ngIf="emailInput.touched && emailInput.invalid"
        class="alert alert-danger">
        <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
        <div *ngIf="emailInput.errors?.['minlength']">
          Email must be at least 8 characters.
        </div>
        <div *ngIf="emailInput.errors?.['Email']">Invalid email format.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="Password"
        #passwordInput="ngModel"
        required
        minlength="6"
        (input)="clearError()"
        placeholder="Enter your password"/>
      <div
        *ngIf="passwordInput.touched && passwordInput.invalid"
        class="alert alert-danger">
        <div *ngIf="passwordInput.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="passwordInput.errors?.['minlength']">
          Password must be at least 6 characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        #confirmPasswordInput="ngModel"
        required
        (input)="clearError()"
        placeholder="Confirm your password"/>
      <div
        *ngIf="confirmPasswordInput.touched && confirmPasswordInput.invalid"
        class="alert alert-danger">
        Confirm Password is required.
      </div>
      <div
        *ngIf="confirmPasswordInput.value !== Password &&confirmPasswordInput.touched"
        class="alert alert-danger">
        Passwords do not match.
      </div>
    </div>

    <div class="form-group">
      <label for="profile">Profile:</label>
      <select
        id="profile"
        name="profile"
        [(ngModel)]="Profile"
        required
        (change)="clearError()">
        <option value="User">User</option>
        <option value="Admin">Admin</option>
      </select>
    </div>

    <div *ngIf="Profile === 'User'" class="inline-group">
      <div class="form-group">
        <label for="age">Age:</label>
        <input
          type="number"
          id="age"
          name="age"
          [(ngModel)]="Age"
          (input)="clearError()"
          placeholder="Enter your age"/>
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select
          id="gender"
          name="gender"
          [(ngModel)]="Gender"
          (change)="clearError()">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn" [disabled]="registrationForm.invalid">
      Register
    </button>
  </form>

  <div *ngIf="Success" class="success-msg">{{ Success }}</div>
  <div *ngIf="Error" class="error-msg">{{ Error }}</div>

  <div class="switch-form">
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </div>
</div>
