<div class="dialog" [formGroup]="participantForm">

  <div class="dialog-header">

    <div class="header-left">

      <div class="header-icon">
        <i class="ti ti-user"></i>
      </div>

      <div>
        <div class="dialog-title">Participant</div>
        <div class="dialog-subtitle">Modifier les informations du participant</div>
      </div>

    </div>

    <button class="close-btn" (click)="closeDialog()">
      <i class="ti ti-x"></i>
    </button>

  </div>

  <div class="dialog-body">

    <div class="field">

      <div class="field-label">
        Nom complet
        <span class="required-dot"></span>
      </div>

      <input
        class="f-input"
        type="text"
        formControlName="fullName"
        placeholder="Ex: Mohamed Ayari">
   <small class="error"
  *ngIf="participantForm.get('fullName')?.touched && participantForm.get('fullName')?.errors?.['required']">
  Nom requis
</small>

<small class="error"
  *ngIf="participantForm.get('fullName')?.errors?.['minlength']">
  Minimum 3 caractères
</small>
    </div>

   <div class="field">

  <div class="field-label">
    Email
    <span class="required-dot"></span>
  </div>

  <input
    class="f-input"
    type="email"
    formControlName="email"
    placeholder="exemple@mail.com">

  <small class="error"
    *ngIf="participantForm.get('email')?.touched && participantForm.get('email')?.errors?.['required']">
    L’adresse email est obligatoire
  </small>

  <small class="error"
    *ngIf="participantForm.get('email')?.touched && participantForm.get('email')?.errors?.['email']">
    Format email invalide
  </small>

  <small class="error"
    *ngIf="participantForm.get('email')?.errors?.['emailTaken']">
    Cet email est déjà utilisé
  </small>

</div>

    <div class="field">

      <div class="field-label">
        Âge
        <span class="required-dot"></span>
      </div>

      <input
        class="f-input"
        type="number"
        formControlName="age"
        placeholder="Ex: 23">
<small class="error"
  *ngIf="participantForm.get('age')?.touched && participantForm.get('age')?.errors?.['required']">
  Âge requis
</small>

<small class="error"
  *ngIf="participantForm.get('age')?.errors?.['min']">
  L'âge minimum est 16 ans
</small>

<small class="error"
  *ngIf="participantForm.get('age')?.errors?.['max']">
  L'âge maximum est 100 ans
</small>
    </div>

  </div>

  <div class="dialog-footer">

    <span class="footer-hint">
      Modifier uniquement les champs nécessaires
    </span>

    <div class="footer-actions">

      <button class="btn-cancel" (click)="closeDialog()">
        Annuler
      </button>

      <button
        class="btn-save"
        (click)="onSubmit()"
        [disabled]="!isFormValid() || !hasChanges()">

        Modifier

      </button>

    </div>

  </div>

</div>